<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Species</title>
    <!-- Bootstrap Styles-->
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/static/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="wrapper">
     <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" > <strong>Fisher and Aquaculture In Australia </strong></a>
            </div>
        </nav>

        <nav class="navbar-default navbar-side" role="navigation">

            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <!--<li>-->
                        <!--<a class="active-menu" href="index.html"><i class="fa fa-dashboard"></i> Production in States</a>-->
                    <!--</li>-->
                    <p></p>
                    <li>
                        <a href="http://127.0.0.1:5050/"><i class="fa fa-sitemap"></i> Production in states</a>
                    </li>
                    <li>
                        <a ><i class="fa fa-desktop"></i> Species Sorted by States</a>
                        <form name="states" method="GET"  role="form" action="bar_chart_support">
                        <p style="color:white;">Species: </p><select name="species" id="species" value="species">
                                <option value="Scallop">Scallop</option>
                                <option value="Squid">Squid</option>
                                <option value="Salmonids">Salmonids</option>
                                <option value="Oyster">Oyster</option>
                                <option value="Crab">Crab</option>
                                <option value="Tuna">Tuna</option>
                                <option value="Abalone">Abalone</option>
                                <option value="Prawns">Prawns</option>
                                <option value="Rock lobster">Prck lobster</option>
                                <option value="Other_fish">Other fish</option>
                                <option value="Other_Molluscs">Other Molluscs</option>
                                <option value="Other_Curstaceans">Other Curstaceans</option>
                        </select>
                        <p style="color:white;">Year: </p><select name="year" id="year">
                                <option value="2010">2010</option>
                                <option value="2011">2011</option>
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                        </select>
                        <input type="submit" value="submit">
                        </form>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:5050/pies"><i class="fa fa-desktop"></i> Production and saling in States</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            {{species}} sorted in {{year}}:
                        </h1>
                    </div>
                </div>

				<div class="row" id="showpage">
				    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Production in this year
                            </div>
                            <div class="panel-body">
                                <canvas id="morris-bar-chart"></canvas>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Unit Price in this year
                            </div>
                            <div class="panel-body">
                                <canvas id="morris-bar-chart2"></canvas>
                            </div>
                        </div>
                    </div>
                </div>


            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<!--<script src="/static/js/barchart.js" type="text/javascript"></script>-->
<script>
var ctx_1 = document.getElementById("morris-bar-chart");

var myChart = new Chart(ctx_1, {
    type: 'bar',
    data: {
        labels: ["{{p_rank[0][0]}}","{{p_rank[1][0]}}","{{p_rank[2][0]}}","{{p_rank[3][0]}}","{{p_rank[4][0]}}","{{p_rank[5][0]}}","{{p_rank[6][0]}}"],
        datasets: [{
            label: 'Production Rank',
            data:[{{p_rank[0][1]}},{{p_rank[1][1]}},{{p_rank[2][1]}},{{p_rank[3][1]}},{{p_rank[4][1]}},{{p_rank[5][1]}},{{p_rank[6][1]}}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                 'rgba(255, 200, 64, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 200, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
var ctx_2 = document.getElementById("morris-bar-chart2");
var myChart = new Chart(ctx_2, {
    type: 'bar',
    data: {
        labels:["{{v_rank[0][0]}}","{{v_rank[1][0]}}","{{v_rank[2][0]}}","{{v_rank[3][0]}}","{{v_rank[4][0]}}","{{v_rank[5][0]}}","{{v_rank[6][0]}}"],
        datasets: [{
            label: 'Unit Price Rank',
            data: [{{v_rank[0][1]}},{{v_rank[1][1]}},{{v_rank[2][1]}},{{v_rank[3][1]}},{{v_rank[4][1]}},{{v_rank[5][1]}},{{v_rank[6][1]}}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                 'rgba(255, 200, 64, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 200, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

</script>
</body>

</html>
