<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>States Detail</title>
    <!-- Bootstrap Styles-->
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/static/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

</head>

<body>
    <div id="wrapper">
     <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://127.0.0.1:5050/"> <strong>Fisher and Aquaculture In Australia </strong></a>
            </div>
        </nav>

        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <!--<li>-->
                        <!--<a class="active-menu" href="index.html"><i class="fa fa-dashboard"></i> Production in States</a>-->
                    <!--</li>-->
                    <p></p>
                    <li>
                         <a href="http://127.0.0.1:5050/trend"><i class="fa fa-desktop"></i>  Species's Tendency in States</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:5050/species"><i class="fa fa-desktop"></i> Species Sorting</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:5050/pies"><i class="fa fa-desktop"></i> Production and saling in States</a>
                    </li>


                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                                Welcome to our website and Detail information about fisher and aquatic products will show
                        </h1>
                    </div>
                </div>
                <div>
                  <img src="https://i.loli.net/2018/05/28/5b0b59a3b5781.jpg" weight="1500vw" height="1000vw" align="center"/>
                </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->

</body>

</html>
