<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>States Detail</title>
    <!-- Bootstrap Styles-->
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/static/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/static/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

</head>

<body>
    <div id="wrapper">
     <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"> <strong>Fisher and Aquaculture In Australia </strong></a>
            </div>
        </nav>

        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <!--<li>-->
                        <!--<a class="active-menu" href="index.html"><i class="fa fa-dashboard"></i> Production in States</a>-->
                    <!--</li>-->
                    <p></p>
                    <li>
                        <a><i class="fa fa-sitemap"></i> Production in states</a>
                        <form name="states" method="GET" role="form">
                            <p style="color:white;">State: </p> <select name="states" id="states" value="states">
                            <option value="NSW">New South Wales</option>
                            <option value="NT">Norther Territory</option>
                            <option value="QL">Queensland</option>
                            <option value="SA">South Australia</option>
                            <option value="TM">Tasmania</option>
                            <option value="VT">Victoria</option>
                            <option value="WA">Western Australia</option>
                        </select>
                         <p style="color:white;">Species: </p><select name="species" id="species" value="species">
                                <option value="Abalone">Abalone</option>
                                <option value="Salmonids">Salmonids</option>
                                <option value="Whiting">Whiting</option>
                                <option value="Swordfish">Swordfish</option>
                                <option value="Crab">Crab</option>
                                <option value="Tuna">Tuna</option>
                                <option value="Scallop">Scallop</option>
                                <option value="Prawns">Prawns</option>
                                <option value="Rock lobster">Prck lobster</option>
                            </select>
                            <p></p>
                          <button name="btninsert" id="btninsert" onsubmit="detail()">Submit</button>
                        </form>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:5000/species"><i class="fa fa-desktop"></i> Species Sorted by States</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:5000/pies"><i class="fa fa-desktop"></i> Production and saling in States</a>
                    </li>


                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">

                        </h1>
                    </div>
                </div>

				<div class="row"  style="display:none">
				    <div class="col-md-12">
					    <div class="panel panel-default">
						    <div class="panel-heading">
							Production
						    </div>
						    <div class="panel-body">
							    <div id="morris-line-chart1"></div>
						    </div>
					    </div>
					</div>


				    <div class="col-md-12">
					    <div class="panel panel-default">
						    <div class="panel-heading">
							Export
						    </div>
						    <div class="panel-body">
							    <div id="morris-line-chart2"></div>
						    </div>
					    </div>
					</div>
                </div>


            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="/static/js/bootstrap.min.js"></script>
	 
    <!-- Metis Menu Js -->
    <script src="/static/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="/static/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/js/morris/morris.js"></script>
	
    <!-- Custom Js -->
    <script src="/static/js/custom-scripts.js"></script>


</body>

</html>
