<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>States Detail</title>
    <!-- Bootstrap Styles-->
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/static/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

</head>

<body>
    <div id="wrapper">
     <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"> <strong>Fisher and Aquaculture In Australia </strong></a>
            </div>
        </nav>

        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <!--<li>-->
                        <!--<a class="active-menu" href="index.html"><i class="fa fa-dashboard"></i> Production in States</a>-->
                    <!--</li>-->
                    <p></p>
                    <li>
                        <a><i class="fa fa-sitemap"></i>Species's Tendency in States</a>
                        <form name="states" method="GET" role="form"  action="line_chart_support">
                            <p style="color:white;">State: </p> <select name="states" id="states" value="states">
                             <option value="NSW">New South Wales</option>
                            <option value="NT">Norther Territory</option>
                            <option value="Qld">Queensland</option>
                            <option value="SA">South Australia</option>
                            <option value="Tas">Tasmania</option>
                            <option value="Vic">Victoria</option>
                            <option value="WA">Western Australia</option>
                        </select>
                         <p style="color:white;">Species: </p><select name="species" id="species" value="species">
                                <option value="Scallop">Scallop</option>
                                <option value="Squid">Squid</option>
                                <option value="Salmonids">Salmonids</option>
                                <option value="Oyster">Oyster</option>
                                <option value="Crab">Crab</option>
                                <option value="Tuna">Tuna</option>
                                <option value="Abalone">Abalone</option>
                                <option value="Prawns">Prawns</option>
                                <option value="Rock lobster">Prck lobster</option>
                                <option value="Other_fish">Other fish</option>
                                <option value="Other_Molluscs">Other Molluscs</option>
                                <option value="Other_Curstaceans">Other Curstaceans</option>
                            </select>
                            <p></p>
                         <input type="submit" value="submit">
                        </form>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:5050/species"><i class="fa fa-desktop"></i> Species Sorting</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:5050/pies"><i class="fa fa-desktop"></i> Production and saling in States</a>
                    </li>


                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Production and Export of {{species}} in {{state}}
                        </h1>
                    </div>
                </div>

				<div class="row"   id="showpage">
				    <div class="col-md-12">
					    <div class="panel panel-default">
						    <div class="panel-heading">
							Production
						    </div>
						    <div class="panel-body">
							    <canvas id="morris-line-chart1"></canvas>
						    </div>
					    </div>
					</div>


				    <div class="col-md-12">
					    <div class="panel panel-default">
						    <div class="panel-heading">
							Export
						    </div>
						    <div class="panel-body">
							    <canvas id="morris-line-chart2"></canvas>
						    </div>
					    </div>
					</div>
                </div>


            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <!-- Custom Js -->
<script>
    var ctx = document.getElementById('morris-line-chart1').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ["2010", "2011","2012","2013","2014","2015"],
        datasets: [{
            label: "Unit Price ",
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor:'rgb(255, 99, 132)',
            data: [{{price[1][0]}},{{price[1][1]}},{{price[1][2]}},{{price[1][3]}},{{price[1][4]}},{{price[1][5]}}],
            fill:false
        },
         {label: "Cost Value",
            backgroundColor: 'rgb(100, 99, 132)',
            borderColor:'rgb(100, 99, 132)',
            data:[{{price[0][0]}},{{price[0][1]}},{{price[0][2]}},{{price[0][3]}},{{price[0][4]}},{{price[0][5]}}],
            fill:false
            }
        ]
    },

    // Configuration options go here
    options: {}
});
var ctx = document.getElementById('morris-line-chart2').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: [ "2010", "2011","2012","2013","2014","2015"],
        datasets: [{
            label: "Production",
            backgroundColor: 'rgb(200, 99, 100)',
            borderColor:'rgb(200, 99, 100)',
            data: [{{volume[0][0]}},{{volume[0][1]}},{{volume[0][2]}},{{volume[0][3]}},{{volume[0][4]}},{{volume[0][5]}}],
            fill:false
        },
         {label: "Sales volume",
            backgroundColor: 'rgb(30, 99, 22)',
            borderColor:'rgb(30, 99, 22)',
            data: [{{volume[1][0]}},{{volume[1][1]}},{{volume[1][2]}},{{volume[1][3]}},{{volume[1][4]}},{{volume[1][5]}}],
            fill:false
            }
        ]
    },

    // Configuration options go here
    options: {}
});

</script>


</body>

</html>
