<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pecentage in Different States</title>
    <!-- Bootstrap Styles-->
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/static/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="wrapper">
     <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"  href="http://127.0.0.1:5050/"> <strong>Fisher and Aquaculture In Australia </strong></a>
            </div>
        </nav>

        <nav class="navbar-default navbar-side" role="navigation">

            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <!--<li>-->
                        <!--<a class="active-menu" href="index.html"><i class="fa fa-dashboard"></i> Production in States</a>-->
                    <!--</li>-->
                    <p></p>
                    <li>
                        <a href="http://127.0.0.1:5050/trend"><i class="fa fa-sitemap"></i> Species's Tendency in States</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:5050/species"><i class="fa fa-sitemap"></i>  Species Sorting</a>
                    </li>
                    <li>
                        <a ><i class="fa fa-desktop"></i>Production and saling in States</a>
                        <form name="states" method="GET"  role="form" action="pie_chart_support">
                        <p style="color:white;">Year: </p><select name="year" id="year">

                                <option value="2010">2010</option>
                                <option value="2011">2011</option>
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                        </select>
                        <input type="submit" value="submit">
                        </form>
                    </li>

                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Contribution of each species in {{year}}:
                        </h1>
                    </div>
                </div>
                <div  id="showpage">
				<div class="row" >
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Production volume in New South Wales(t)
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart" ></canvas>
                        </div>
                    </div>
                    </div>

                       <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Export Volume in New South Wales(t)
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart2"></canvas>
                        </div>
                    </div>
                </div>

                </div>

				<div class="row" >
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Production Volume in Norther Therritory(t)
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart3"></canvas>
                        </div>
                    </div>
                    </div>

                       <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Export Volume in Norther Therritory(t)
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart4"></canvas>
                        </div>
                    </div>
                </div>

                </div>

				<div class="row" >
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Production Volume in Queensland(t)
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart5"></canvas>
                        </div>
                    </div>
                    </div>

                       <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Export Volume in Queensland(t)
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart6"></canvas>
                        </div>
                    </div>
                </div>

                </div>

				<div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Production Volume in South Australia(t)
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart7"></canvas>
                        </div>
                    </div>
                    </div>

                       <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Export Volume in South Australia(t)
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart8"></canvas>
                        </div>
                    </div>
                </div>

                </div>

				<div class="row" >
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Production Volume in Tasmania(t)
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart9"></canvas>
                        </div>
                    </div>
                    </div>

                       <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Export Volume in Tasmania(t)
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart10"></canvas>
                        </div>
                    </div>
                </div>

                </div>

				<div class="row" >
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Production Volume in Victoria(t)
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart11"></canvas>
                        </div>
                    </div>
                    </div>

                       <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Export Volume in Victoria(t)
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart12"></canvas>
                        </div>
                    </div>
                </div>

                </div>

				<div class="row" >
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Production Volume in Western Australia(t)
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart13"></canvas>
                        </div>
                    </div>
                    </div>

                       <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Export Volume in Western Australia(t)
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart14"></canvas>
                        </div>
                    </div>
                </div>

                </div>
                </div>

            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>

    ////////////////////////////////NSW/////////////////////////////////////
  var ctx = document.getElementById("morris-donut-chart");
    var myPieChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: {{product_label[0] | tojson}},
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ['rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(230, 120, 132, 0.8)',
                'rgba(200, 140, 100, 0.8)',
                'rgba(180, 160, 150, 0.8)',
                'rgba(160, 180, 200, 0.8)',
                'rgba(140, 200, 30, 0.8)',
                'rgba(120, 220, 80, 0.8)',
                'rgba(20, 20, 70, 0.8)',
                'rgba(120, 80, 90, 0.8)'],
        data: {{product_value[0] | tojson}}
         }]
    },
    options: {
      title: {
        display: true

      }
    }
});
  var ctx_2 = document.getElementById("morris-donut-chart2");
    var myPieChart2 = new Chart(ctx_2, {
    type: 'pie',
    data: {
      labels:{{sale_label[0] | tojson}},
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ['rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(230, 120, 132, 0.8)',
                'rgba(200, 140, 100, 0.8)',
                'rgba(180, 160, 150, 0.8)',
                'rgba(160, 180, 200, 0.8)',
                'rgba(140, 200, 30, 0.8)',
                'rgba(120, 220, 80, 0.8)',
                'rgba(20, 20, 70, 0.8)',
                'rgba(120, 80, 90, 0.8)'],
        data:{{sale_value[0] | tojson}}
         }]
    },
    options: {
      title: {
        display: true
      }
    }
});
///////////////////////////////////////////////////////////////////////////////////

/////////////////////////Norther Therritory////////////////////////////////////////
  var ctx_3 = document.getElementById("morris-donut-chart3");
    var myPieChart3 = new Chart(ctx_3, {
    type: 'pie',
    data: {
      labels: {{product_label[1] | tojson}},
      datasets: [{
        label: "Population (millions)",
        backgroundColor:['rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(230, 120, 132, 0.8)',
                'rgba(200, 140, 100, 0.8)',
                'rgba(180, 160, 150, 0.8)',
                'rgba(160, 180, 200, 0.8)',
                'rgba(140, 200, 30, 0.8)',
                'rgba(120, 220, 80, 0.8)',
                'rgba(20, 20, 70, 0.8)',
                'rgba(120, 80, 90, 0.8)'],
        data:{{product_value[1] | tojson}}
          }]
    },
    options: {
      title: {
        display: true
      }
    }
});

 var ctx_4 = document.getElementById("morris-donut-chart4");
    var myPieChart4 = new Chart(ctx_4, {
    type: 'pie',
    data: {
      labels: {{sale_label[1] | tojson}},
      datasets: [{
        label: "Population (millions)",
        backgroundColor:['rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(230, 120, 132, 0.8)',
                'rgba(200, 140, 100, 0.8)',
                'rgba(180, 160, 150, 0.8)',
                'rgba(160, 180, 200, 0.8)',
                'rgba(140, 200, 30, 0.8)',
                'rgba(120, 220, 80, 0.8)',
                'rgba(20, 20, 70, 0.8)',
                'rgba(120, 80, 90, 0.8)'],
        data: {{sale_value[1] | tojson}}
         }]
    },
    options: {
      title: {
        display: true,

      }
    }
});
////////////////////////////////////////////////////////////////////////////////////

/////////////////////////Queensland////////////////////////////////////////
var ctx_5 = document.getElementById("morris-donut-chart5");
    var myPieChart5 = new Chart(ctx_5, {
    type: 'pie',
    data: {
      labels:{{product_label[2] | tojson}} ,
       datasets: [{
        label: "Population (millions)",
        backgroundColor:['rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(230, 120, 132, 0.8)',
                'rgba(200, 140, 100, 0.8)',
                'rgba(180, 160, 150, 0.8)',
                'rgba(160, 180, 200, 0.8)',
                'rgba(140, 200, 30, 0.8)',
                'rgba(120, 220, 80, 0.8)',
                'rgba(20, 20, 70, 0.8)',
                'rgba(120, 80, 90, 0.8)'],
        data: {{product_value[2] | tojson}}
          }]
    },
    options: {
      title: {
        display: true
      }
    }
});

var ctx_6 = document.getElementById("morris-donut-chart6");
    var myPieChart6 = new Chart(ctx_6, {
    type: 'pie',
    data: {
      labels:{{sale_label[2] | tojson}},
        datasets: [{
        label: "Population (millions)",
        backgroundColor: ['rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(230, 120, 132, 0.8)',
                'rgba(200, 140, 100, 0.8)',
                'rgba(180, 160, 150, 0.8)',
                'rgba(160, 180, 200, 0.8)',
                'rgba(140, 200, 30, 0.8)',
                'rgba(120, 220, 80, 0.8)',
                'rgba(20, 20, 70, 0.8)',
                'rgba(120, 80, 90, 0.8)'],
        data: {{sale_value[2] | tojson}}
           }]
    },
    options: {
      title: {
        display: true
      }
    }
});

//////////////////////////////////////////////////////////////////////////////

////////////////////////////South Austalia/////////////////////////////////////
var ctx_7 = document.getElementById("morris-donut-chart7");
    var myPieChart7 = new Chart(ctx_7, {
    type: 'pie',
    data: {
      labels: {{product_label[3] | tojson}},
        datasets: [{
        label: "Population (millions)",
        backgroundColor:['rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(230, 120, 132, 0.8)',
                'rgba(200, 140, 100, 0.8)',
                'rgba(180, 160, 150, 0.8)',
                'rgba(160, 180, 200, 0.8)',
                'rgba(140, 200, 30, 0.8)',
                'rgba(120, 220, 80, 0.8)',
                'rgba(20, 20, 70, 0.8)',
                'rgba(120, 80, 90, 0.8)'],
        data: {{product_value[3] | tojson}}
           }]
    },
    options: {
      title: {
        display: true
      }
    }
});

var ctx_8 = document.getElementById("morris-donut-chart8");
    var myPieChart8 = new Chart(ctx_8, {
    type: 'pie',
    data: {
      labels:{{sale_label[3] | tojson}},
       datasets: [{
        label: "Population (millions)",
        backgroundColor:['rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(230, 120, 132, 0.8)',
                'rgba(200, 140, 100, 0.8)',
                'rgba(180, 160, 150, 0.8)',
                'rgba(160, 180, 200, 0.8)',
                'rgba(140, 200, 30, 0.8)',
                'rgba(120, 220, 80, 0.8)',
                'rgba(20, 20, 70, 0.8)',
                'rgba(120, 80, 90, 0.8)'],
        data:{{sale_value[3] | tojson}},
         }]
    },
    options: {
      title: {
        display: true

      }
    }
});

////////////////////////////////////////////////////////////////////////

////////////////////////Tasmania////////////////////////////////////////\
var ctx_9 = document.getElementById("morris-donut-chart9");
    var myPieChart9 = new Chart(ctx_9, {
    type: 'pie',
    data: {
      labels: {{product_label[4] | tojson}},
       datasets: [{
        label: "Population (millions)",
        backgroundColor: ['rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(230, 120, 132, 0.8)',
                'rgba(200, 140, 100, 0.8)',
                'rgba(180, 160, 150, 0.8)',
                'rgba(160, 180, 200, 0.8)',
                'rgba(140, 200, 30, 0.8)',
                'rgba(120, 220, 80, 0.8)',
                'rgba(20, 20, 70, 0.8)',
                'rgba(120, 80, 90, 0.8)'],
        data: {{product_value[4] | tojson}}
          }]
    },
    options: {
      title: {
        display: true
      }
    }
});

var ctx_10 = document.getElementById("morris-donut-chart10");
    var myPieChart10 = new Chart(ctx_10, {
    type: 'pie',
    data: {
      labels: {{sale_label[4] | tojson}},
         datasets: [{
        label: "Population (millions)",
        backgroundColor:['rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(230, 120, 132, 0.8)',
                'rgba(200, 140, 100, 0.8)',
                'rgba(180, 160, 150, 0.8)',
                'rgba(160, 180, 200, 0.8)',
                'rgba(140, 200, 30, 0.8)',
                'rgba(120, 220, 80, 0.8)',
                'rgba(20, 20, 70, 0.8)',
                'rgba(120, 80, 90, 0.8)'],
        data: {{sale_value[4] | tojson}},
      }]
    },
    options: {
      title: {
        display: true
      }
    }
});
/////////////////////////////////////////////////////////////////////////////

/////////////////////Victoria///////////////////////////////////////////////
var ctx_11 = document.getElementById("morris-donut-chart11");
    var myPieChart11 = new Chart(ctx_11, {
    type: 'pie',
    data: {
      labels: {{product_label[5] | tojson}},
       datasets: [{
        label: "Population (millions)",
        backgroundColor:['rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(230, 120, 132, 0.8)',
                'rgba(200, 140, 100, 0.8)',
                'rgba(180, 160, 150, 0.8)',
                'rgba(160, 180, 200, 0.8)',
                'rgba(140, 200, 30, 0.8)',
                'rgba(120, 220, 80, 0.8)',
                'rgba(20, 20, 70, 0.8)',
                'rgba(120, 80, 90, 0.8)'],
        data: {{product_value[5] | tojson}},
            }]
    },
    options: {
      title: {
        display: true
      }
    }
});

var ctx_12 = document.getElementById("morris-donut-chart12");
    var myPieChart12 = new Chart(ctx_12, {
    type: 'pie',
    data: {
      labels:{{sale_label[5] | tojson}},
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ['rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(230, 120, 132, 0.8)',
                'rgba(200, 140, 100, 0.8)',
                'rgba(180, 160, 150, 0.8)',
                'rgba(160, 180, 200, 0.8)',
                'rgba(140, 200, 30, 0.8)',
                'rgba(120, 220, 80, 0.8)',
                'rgba(20, 20, 70, 0.8)',
                'rgba(120, 80, 90, 0.8)'],
        data:{{sale_value[5] | tojson}},
        }]
    },
    options: {
      title: {
        display: true
      }
    }
});

/////////////////////////////////////////////////////////////////////////////

///////////////////////Western Australia/////////////////////////////////////
var ctx_13 = document.getElementById("morris-donut-chart13");
    var myPieChart13 = new Chart(ctx_13, {
    type: 'pie',
    data: {
      labels: {{product_label[6] | tojson}},
       datasets: [{
        label: "Population (millions)",
        backgroundColor: ['rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(230, 120, 132, 0.8)',
                'rgba(200, 140, 100, 0.8)',
                'rgba(180, 160, 150, 0.8)',
                'rgba(160, 180, 200, 0.8)',
                'rgba(140, 200, 30, 0.8)',
                'rgba(120, 220, 80, 0.8)',
                'rgba(20, 20, 70, 0.8)',
                'rgba(120, 80, 90, 0.8)'],
        data: {{product_value[6] | tojson}},
        }]
      },
    options: {
      title: {
        display: true
      }
    }
});
var ctx_14 = document.getElementById("morris-donut-chart14");
    var myPieChart14 = new Chart(ctx_14, {
    type: 'pie',
    data: {
      labels:{{sale_label[6] | tojson}},
      datasets: [{
        label: "Fish ",
        backgroundColor:['rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(230, 120, 132, 0.8)',
                'rgba(200, 140, 100, 0.8)',
                'rgba(180, 160, 150, 0.8)',
                'rgba(160, 180, 200, 0.8)',
                'rgba(140, 200, 30, 0.8)',
                'rgba(120, 220, 80, 0.8)',
                'rgba(20, 20, 70, 0.8)',
                'rgba(120, 80, 90, 0.8)'],
        data: {{sale_value[6] | tojson}}
      }]
    },
    options: {
      title: {
        display: true
      }
    }
});
</script>

</body>

</html>
