<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pecentage in Different States</title>
    <!-- Bootstrap Styles-->
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/static/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="wrapper">
     <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"  href="http://127.0.0.1:5050/"> <strong>Fisher and Aquaculture In Australia </strong></a>
            </div>
        </nav>

        <nav class="navbar-default navbar-side" role="navigation">

            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <!--<li>-->
                        <!--<a class="active-menu" href="index.html"><i class="fa fa-dashboard"></i> Production in States</a>-->
                    <!--</li>-->
                    <p></p>
                    <li>
                        <a href="http://127.0.0.1:5050/trend"><i class="fa fa-sitemap"></i> Species's Tendency in States</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:5050/species"><i class="fa fa-sitemap"></i>  Species Sorting</a>
                    </li>
                    <li>
                        <a ><i class="fa fa-desktop"></i>Production and saling in States</a>
                        <form name="states" method="GET"  role="form" action="pie_chart_support">
                        <p style="color:white;">Year: </p><select name="year" id="year">

                                <option value="2010">2010</option>
                                <option value="2011">2011</option>
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                        </select>
                        <input type="submit" value="submit">
                        </form>
                    </li>

                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Contribution of each species in {{year}}:
                        </h1>
                    </div>
                </div>
                <div  id="showpage">
				<div class="row" >
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Production in New South Wales
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart" ></canvas>
                        </div>
                    </div>
                    </div>

                       <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Sale Volume in New South Wales
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart2"></canvas>
                        </div>
                    </div>
                </div>

                </div>

				<div class="row" >
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Production in Norther Therritory
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart3"></canvas>
                        </div>
                    </div>
                    </div>

                       <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Sale Volume in Norther Therritory
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart4"></canvas>
                        </div>
                    </div>
                </div>

                </div>

				<div class="row" >
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Production in Queensland
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart5"></canvas>
                        </div>
                    </div>
                    </div>

                       <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Sale Volume in Queensland
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart6"></canvas>
                        </div>
                    </div>
                </div>

                </div>

				<div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Production in South Australia
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart7"></canvas>
                        </div>
                    </div>
                    </div>

                       <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Sale Volume in South Australia
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart8"></canvas>
                        </div>
                    </div>
                </div>

                </div>

				<div class="row" >
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Production in Tasmania
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart9"></canvas>
                        </div>
                    </div>
                    </div>

                       <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Sale Volume in Tasmania
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart10"></canvas>
                        </div>
                    </div>
                </div>

                </div>

				<div class="row" >
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Production in Victoria
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart11"></canvas>
                        </div>
                    </div>
                    </div>

                       <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Sale Volume in Victoria
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart12"></canvas>
                        </div>
                    </div>
                </div>

                </div>

				<div class="row" >
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Production in Western Australia
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart13"></canvas>
                        </div>
                    </div>
                    </div>

                       <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Sale Volume in Western Australia
                        </div>
                        <div class="panel-body">
							<canvas id="morris-donut-chart14"></canvas>
                        </div>
                    </div>
                </div>

                </div>
                </div>

            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>

    ////////////////////////////////NSW/////////////////////////////////////
  var ctx = document.getElementById("morris-donut-chart");
    var myPieChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ["{{product[0][0][0]}}","{{product[0][1][0]}}","{{product[0][2][0]}}","{{product[0][3][0]}}","{{product[0][4][0]}}","{{product[0][5][0]}}","{{product[0][6][0]}}","{{product[0][7][0]}}","{{product[0][8][0]}}","{{product[0][9][0]}}","{{product[0][10][0]}}","{{product[0][11][0]}}"],
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ['rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(230, 120, 132, 0.2)',
                'rgba(200, 140, 100, 0.2)',
                'rgba(180, 160, 150, 0.2)',
                'rgba(160, 180, 200, 0.2)',
                'rgba(140, 200, 30, 0.2)',
                'rgba(120, 220, 80, 0.2)',
                'rgba(20, 20, 70, 0.2)',
                'rgba(120, 80, 90, 0.2)'],
        data: [{{product[0][0][1]}},{{product[0][1][1]}},{{product[0][2][1]}},{{product[0][3][1]}},{{product[0][4][1]}},{{product[0][5][1]}},{{product[0][6][1]}},{{product[0][7][1]}},{{product[0][8][1]}},{{product[0][9][1]}},{{product[0][10][1]}},{{product[0][11][1]}}]
     }]
    },
    options: {
      title: {
        display: true

      }
    }
});
  var ctx_2 = document.getElementById("morris-donut-chart2");
    var myPieChart2 = new Chart(ctx_2, {
    type: 'pie',
    data: {
      labels:["{{sale[0][0][0]}}","{{sale[0][1][0]}}","{{sale[0][2][0]}}","{{sale[0][3][0]}}","{{sale[0][4][0]}}","{{sale[0][5][0]}}","{{sale[0][6][0]}}","{{sale[0][7][0]}}","{{sale[0][8][0]}}","{{sale[0][9][0]}}","{{sale[0][10][0]}}","{{sale[0][11][0]}}"],
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ['rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(230, 120, 132, 0.2)',
                'rgba(200, 140, 100, 0.2)',
                'rgba(180, 160, 150, 0.2)',
                'rgba(160, 180, 200, 0.2)',
                'rgba(140, 200, 30, 0.2)',
                'rgba(120, 220, 80, 0.2)',
                'rgba(20, 20, 70, 0.2)',
                'rgba(120, 80, 90, 0.2)'],
        data: [{{sale[0][0][1]}},{{sale[0][1][1]}},{{sale[0][2][1]}},{{sale[0][3][1]}},{{sale[0][4][1]}},{{sale[0][5][1]}},{{sale[0][6][1]}},{{sale[0][7][1]}},{{sale[0][8][1]}},{{sale[0][9][1]}},{{sale[0][10][1]}},{{sale[0][11][1]}}]
      }]
    },
    options: {
      title: {
        display: true
      }
    }
});
///////////////////////////////////////////////////////////////////////////////////

/////////////////////////Norther Therritory////////////////////////////////////////
  var ctx_3 = document.getElementById("morris-donut-chart3");
    var myPieChart3 = new Chart(ctx_3, {
    type: 'pie',
    data: {
      labels: ["{{product[1][0][0]}}","{{product[1][1][0]}}","{{product[1][2][0]}}","{{product[1][3][0]}}","{{product[1][4][0]}}","{{product[1][5][0]}}","{{product[1][6][0]}}","{{product[1][7][0]}}","{{product[1][8][0]}}","{{product[1][9][0]}}","{{product[1][10][0]}}","{{product[1][11][0]}}"],
      datasets: [{
        label: "Population (millions)",
        backgroundColor:['rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(230, 120, 132, 0.2)',
                'rgba(200, 140, 100, 0.2)',
                'rgba(180, 160, 150, 0.2)',
                'rgba(160, 180, 200, 0.2)',
                'rgba(140, 200, 30, 0.2)',
                'rgba(120, 220, 80, 0.2)',
                'rgba(20, 20, 70, 0.2)',
                'rgba(120, 80, 90, 0.2)'],
        data: [{{product[1][0][1]}},{{product[1][1][1]}},{{product[1][2][1]}},{{product[1][3][1]}},{{product[1][4][1]}},{{product[1][5][1]}},{{product[1][6][1]}},{{product[1][7][1]}},{{product[1][8][1]}},{{product[1][9][1]}},{{product[1][10][1]}},{{product[1][11][1]}}]
      }]
    },
    options: {
      title: {
        display: true
      }
    }
});

 var ctx_4 = document.getElementById("morris-donut-chart4");
    var myPieChart4 = new Chart(ctx_4, {
    type: 'pie',
    data: {
      labels: ["{{sale[1][0][0]}}","{{sale[1][1][0]}}","{{sale[1][2][0]}}","{{sale[1][3][0]}}","{{sale[1][4][0]}}","{{sale[1][5][0]}}","{{sale[1][6][0]}}","{{sale[1][7][0]}}","{{sale[1][8][0]}}","{{sale[1][9][0]}}","{{sale[1][10][0]}}","{{sale[1][11][0]}}"],
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ['rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(230, 120, 132, 0.2)',
                'rgba(200, 140, 100, 0.2)',
                'rgba(180, 160, 150, 0.2)',
                'rgba(160, 180, 200, 0.2)',
                'rgba(140, 200, 30, 0.2)',
                'rgba(120, 220, 80, 0.2)',
                'rgba(20, 20, 70, 0.2)',
                'rgba(120, 80, 90, 0.2)'],
        data: [{{sale[1][0][1]}},{{sale[1][1][1]}},{{sale[1][2][1]}},{{sale[1][3][1]}},{{sale[1][4][1]}},{{sale[1][5][1]}},{{sale[1][6][1]}},{{sale[1][7][1]}},{{sale[1][8][1]}},{{sale[1][9][1]}},{{sale[1][10][1]}},{{sale[1][11][1]}}]
      }]
    },
    options: {
      title: {
        display: true,

      }
    }
});
////////////////////////////////////////////////////////////////////////////////////

/////////////////////////Queensland////////////////////////////////////////
var ctx_5 = document.getElementById("morris-donut-chart5");
    var myPieChart5 = new Chart(ctx_5, {
    type: 'pie',
    data: {
      labels: ["{{product[2][0][0]}}","{{product[2][1][0]}}","{{product[2][2][0]}}","{{product[2][3][0]}}","{{product[2][4][0]}}","{{product[2][5][0]}}","{{product[2][6][0]}}","{{product[2][7][0]}}","{{product[2][8][0]}}","{{product[2][9][0]}}","{{product[2][10][0]}}","{{product[2][11][0]}}"],
      datasets: [{
        label: "Population (millions)",
        backgroundColor:['rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(230, 120, 132, 0.2)',
                'rgba(200, 140, 100, 0.2)',
                'rgba(180, 160, 150, 0.2)',
                'rgba(160, 180, 200, 0.2)',
                'rgba(140, 200, 30, 0.2)',
                'rgba(120, 220, 80, 0.2)',
                'rgba(20, 20, 70, 0.2)',
                'rgba(120, 80, 90, 0.2)'],
        data: [{{product[2][0][1]}},{{product[2][1][1]}},{{product[2][2][1]}},{{product[2][3][1]}},{{product[2][4][1]}},{{product[2][5][1]}},{{product[2][6][1]}},{{product[2][7][1]}},{{product[2][8][1]}},{{product[2][9][1]}},{{product[2][10][1]}},{{product[2][11][1]}}],
      }]
    },
    options: {
      title: {
        display: true
      }
    }
});

var ctx_6 = document.getElementById("morris-donut-chart6");
    var myPieChart6 = new Chart(ctx_6, {
    type: 'pie',
    data: {
      labels: ["{{sale[2][0][0]}}","{{sale[2][1][0]}}","{{sale[2][2][0]}}","{{sale[2][3][0]}}","{{sale[2][4][0]}}","{{sale[2][5][0]}}","{{sale[2][6][0]}}","{{sale[2][7][0]}}","{{sale[2][8][0]}}","{{sale[2][9][0]}}","{{sale[2][10][0]}}","{{sale[2][11][0]}}"],
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ['rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(230, 120, 132, 0.2)',
                'rgba(200, 140, 100, 0.2)',
                'rgba(180, 160, 150, 0.2)',
                'rgba(160, 180, 200, 0.2)',
                'rgba(140, 200, 30, 0.2)',
                'rgba(120, 220, 80, 0.2)',
                'rgba(20, 20, 70, 0.2)',
                'rgba(120, 80, 90, 0.2)'],
        data: [{{sale[2][0][1]}},{{sale[2][1][1]}},{{sale[2][2][1]}},{{sale[2][3][1]}},{{sale[2][4][1]}},{{sale[2][5][1]}},{{sale[2][6][1]}},{{sale[2][7][1]}},{{sale[2][8][1]}},{{sale[2][9][1]}},{{sale[2][10][1]}},{{sale[2][11][1]}}],
      }]
    },
    options: {
      title: {
        display: true
      }
    }
});

//////////////////////////////////////////////////////////////////////////////

////////////////////////////South Austalia/////////////////////////////////////
var ctx_7 = document.getElementById("morris-donut-chart7");
    var myPieChart7 = new Chart(ctx_7, {
    type: 'pie',
    data: {
      labels: ["{{product[3][0][0]}}","{{product[3][1][0]}}","{{product[3][2][0]}}","{{product[3][3][0]}}","{{product[3][4][0]}}","{{product[3][5][0]}}","{{product[3][6][0]}}","{{product[3][7][0]}}","{{product[3][8][0]}}","{{product[3][9][0]}}","{{product[3][10][0]}}","{{product[3][11][0]}}"],
      datasets: [{
        label: "Population (millions)",
        backgroundColor:['rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(230, 120, 132, 0.2)',
                'rgba(200, 140, 100, 0.2)',
                'rgba(180, 160, 150, 0.2)',
                'rgba(160, 180, 200, 0.2)',
                'rgba(140, 200, 30, 0.2)',
                'rgba(120, 220, 80, 0.2)',
                'rgba(20, 20, 70, 0.2)',
                'rgba(120, 80, 90, 0.2)'],
        data: [{{product[3][0][1]}},{{product[3][1][1]}},{{product[3][2][1]}},{{product[3][3][1]}},{{product[3][4][1]}},{{product[3][5][1]}},{{product[3][6][1]}},{{product[3][7][1]}},{{product[3][8][1]}},{{product[3][9][1]}},{{product[3][10][1]}},{{product[3][11][1]}}],
      }]
    },
    options: {
      title: {
        display: true
      }
    }
});

var ctx_8 = document.getElementById("morris-donut-chart8");
    var myPieChart8 = new Chart(ctx_8, {
    type: 'pie',
    data: {
      labels: ["{{sale[3][0][0]}}","{{sale[3][1][0]}}","{{sale[3][2][0]}}","{{sale[3][3][0]}}","{{sale[3][4][0]}}","{{sale[3][5][0]}}","{{sale[3][6][0]}}","{{sale[3][7][0]}}","{{sale[3][8][0]}}","{{sale[3][9][0]}}","{{sale[3][10][0]}}","{{sale[3][11][0]}}"],
      datasets: [{
        label: "Population (millions)",
        backgroundColor:['rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(230, 120, 132, 0.2)',
                'rgba(200, 140, 100, 0.2)',
                'rgba(180, 160, 150, 0.2)',
                'rgba(160, 180, 200, 0.2)',
                'rgba(140, 200, 30, 0.2)',
                'rgba(120, 220, 80, 0.2)',
                'rgba(20, 20, 70, 0.2)',
                'rgba(120, 80, 90, 0.2)'],
        data: [{{sale[3][0][1]}},{{sale[3][1][1]}},{{sale[3][2][1]}},{{sale[3][3][1]}},{{sale[3][4][1]}},{{sale[3][5][1]}},{{sale[3][6][1]}},{{sale[3][7][1]}},{{sale[3][8][1]}},{{sale[3][9][1]}},{{sale[3][10][1]}},{{sale[3][11][1]}}],
      }]
    },
    options: {
      title: {
        display: true

      }
    }
});

////////////////////////////////////////////////////////////////////////

////////////////////////Tasmania////////////////////////////////////////\
var ctx_9 = document.getElementById("morris-donut-chart9");
    var myPieChart9 = new Chart(ctx_9, {
    type: 'pie',
    data: {
      labels: ["{{product[4][0][0]}}","{{product[4][1][0]}}","{{product[4][2][0]}}","{{product[4][3][0]}}","{{product[4][4][0]}}","{{product[4][5][0]}}","{{product[4][6][0]}}","{{product[4][7][0]}}","{{product[4][8][0]}}","{{product[4][9][0]}}","{{product[4][10][0]}}","{{product[4][11][0]}}"],
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ['rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(230, 120, 132, 0.2)',
                'rgba(200, 140, 100, 0.2)',
                'rgba(180, 160, 150, 0.2)',
                'rgba(160, 180, 200, 0.2)',
                'rgba(140, 200, 30, 0.2)',
                'rgba(120, 220, 80, 0.2)',
                'rgba(20, 20, 70, 0.2)',
                'rgba(120, 80, 90, 0.2)'],
        data: [{{product[4][0][1]}},{{product[4][1][1]}},{{product[4][2][1]}},{{product[4][3][1]}},{{product[4][4][1]}},{{product[4][5][1]}},{{product[4][6][1]}},{{product[4][7][1]}},{{product[4][8][1]}},{{product[4][9][1]}},{{product[4][10][1]}},{{product[4][11][1]}}]
      }]
    },
    options: {
      title: {
        display: true
      }
    }
});

var ctx_10 = document.getElementById("morris-donut-chart10");
    var myPieChart10 = new Chart(ctx_10, {
    type: 'pie',
    data: {
      labels: ["{{sale[4][0][0]}}","{{sale[4][1][0]}}","{{sale[4][2][0]}}","{{sale[4][3][0]}}","{{sale[4][4][0]}}","{{sale[4][5][0]}}","{{sale[4][6][0]}}","{{sale[4][7][0]}}","{{sale[4][8][0]}}","{{sale[4][9][0]}}","{{sale[4][10][0]}}","{{sale[4][11][0]}}"],
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ['rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(230, 120, 132, 0.2)',
                'rgba(200, 140, 100, 0.2)',
                'rgba(180, 160, 150, 0.2)',
                'rgba(160, 180, 200, 0.2)',
                'rgba(140, 200, 30, 0.2)',
                'rgba(120, 220, 80, 0.2)',
                'rgba(20, 20, 70, 0.2)',
                'rgba(120, 80, 90, 0.2)'],
        data: [{{sale[4][0][1]}},{{sale[4][1][1]}},{{sale[4][2][1]}},{{sale[4][3][1]}},{{sale[4][4][1]}},{{sale[4][5][1]}},{{sale[4][6][1]}},{{sale[4][7][1]}},{{sale[4][8][1]}},{{sale[4][9][1]}},{{sale[4][10][1]}},{{sale[4][11][1]}}]

      }]
    },
    options: {
      title: {
        display: true
      }
    }
});
/////////////////////////////////////////////////////////////////////////////

/////////////////////Victoria///////////////////////////////////////////////
var ctx_11 = document.getElementById("morris-donut-chart11");
    var myPieChart11 = new Chart(ctx_11, {
    type: 'pie',
    data: {
      labels: ["{{product[5][0][0]}}","{{product[5][1][0]}}","{{product[5][2][0]}}","{{product[5][3][0]}}","{{product[5][4][0]}}","{{product[5][5][0]}}","{{product[5][6][0]}}","{{product[5][7][0]}}","{{product[5][8][0]}}","{{product[5][9][0]}}","{{product[5][10][0]}}","{{product[5][11][0]}}"],
      datasets: [{
        label: "Population (millions)",
        backgroundColor:['rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(230, 120, 132, 0.2)',
                'rgba(200, 140, 100, 0.2)',
                'rgba(180, 160, 150, 0.2)',
                'rgba(160, 180, 200, 0.2)',
                'rgba(140, 200, 30, 0.2)',
                'rgba(120, 220, 80, 0.2)',
                'rgba(20, 20, 70, 0.2)',
                'rgba(120, 80, 90, 0.2)'],
        data: [{{product[5][0][1]}},{{product[5][1][1]}},{{product[5][2][1]}},{{product[5][3][1]}},{{product[5][4][1]}},{{product[5][5][1]}},{{product[5][6][1]}},{{product[5][7][1]}},{{product[5][8][1]}},{{product[5][9][1]}},{{product[5][10][1]}},{{product[5][11][1]}}]
      }]
    },
    options: {
      title: {
        display: true
      }
    }
});

var ctx_12 = document.getElementById("morris-donut-chart12");
    var myPieChart12 = new Chart(ctx_12, {
    type: 'pie',
    data: {
      labels:["{{sale[5][0][0]}}","{{sale[5][1][0]}}","{{sale[5][2][0]}}","{{sale[5][3][0]}}","{{sale[5][4][0]}}","{{sale[5][5][0]}}","{{sale[5][6][0]}}","{{sale[5][7][0]}}","{{sale[5][8][0]}}","{{sale[5][9][0]}}","{{sale[5][10][0]}}","{{sale[5][11][0]}}"],

      datasets: [{
        label: "Population (millions)",
        backgroundColor: ['rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(230, 120, 132, 0.2)',
                'rgba(200, 140, 100, 0.2)',
                'rgba(180, 160, 150, 0.2)',
                'rgba(160, 180, 200, 0.2)',
                'rgba(140, 200, 30, 0.2)',
                'rgba(120, 220, 80, 0.2)',
                'rgba(20, 20, 70, 0.2)',
                'rgba(120, 80, 90, 0.2)'],
        data: [{{sale[5][0][1]}},{{sale[5][1][1]}},{{sale[5][2][1]}},{{sale[5][3][1]}},{{sale[5][4][1]}},{{sale[5][5][1]}},{{sale[5][6][1]}},{{sale[5][7][1]}},{{sale[5][8][1]}},{{sale[5][9][1]}},{{sale[5][10][1]}},{{sale[5][11][1]}}]

        }]
    },
    options: {
      title: {
        display: true
      }
    }
});

/////////////////////////////////////////////////////////////////////////////

///////////////////////Western Australia/////////////////////////////////////
var ctx_13 = document.getElementById("morris-donut-chart13");
    var myPieChart13 = new Chart(ctx_13, {
    type: 'pie',
    data: {
      labels: ["{{product[6][0][0]}}","{{product[6][1][0]}}","{{product[6][2][0]}}","{{product[6][3][0]}}","{{product[6][4][0]}}","{{product[6][5][0]}}","{{product[6][6][0]}}","{{product[6][7][0]}}","{{product[6][8][0]}}","{{product[6][9][0]}}","{{product[6][10][0]}}","{{product[6][11][0]}}"],
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ['rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(230, 120, 132, 0.2)',
                'rgba(200, 140, 100, 0.2)',
                'rgba(180, 160, 150, 0.2)',
                'rgba(160, 180, 200, 0.2)',
                'rgba(140, 200, 30, 0.2)',
                'rgba(120, 220, 80, 0.2)',
                'rgba(20, 20, 70, 0.2)',
                'rgba(120, 80, 90, 0.2)'],
        data: [{{product[6][0][1]}},{{product[6][1][1]}},{{product[6][2][1]}},{{product[6][3][1]}},{{product[6][4][1]}},{{product[6][5][1]}},{{product[6][6][1]}},{{product[6][7][1]}},{{product[6][8][1]}},{{product[6][9][1]}},{{product[6][10][1]}},{{product[6][11][1]}}]
      }]
      },
    options: {
      title: {
        display: true
      }
    }
});
var ctx_14 = document.getElementById("morris-donut-chart14");
    var myPieChart14 = new Chart(ctx_14, {
    type: 'pie',
    data: {
      labels:["{{sale[6][0][0]}}","{{sale[6][1][0]}}","{{sale[6][2][0]}}","{{sale[6][3][0]}}","{{sale[6][4][0]}}","{{sale[6][5][0]}}","{{sale[6][6][0]}}","{{sale[6][7][0]}}","{{sale[6][8][0]}}","{{sale[6][9][0]}}","{{sale[6][10][0]}}","{{sale[6][11][0]}}"],

      datasets: [{
        label: "Fish ",
        backgroundColor:['rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(230, 120, 132, 0.2)',
                'rgba(200, 140, 100, 0.2)',
                'rgba(180, 160, 150, 0.2)',
                'rgba(160, 180, 200, 0.2)',
                'rgba(140, 200, 30, 0.2)',
                'rgba(120, 220, 80, 0.2)',
                'rgba(20, 20, 70, 0.2)',
                'rgba(120, 80, 90, 0.2)'],
        data: [{{sale[6][0][1]}},{{sale[6][1][1]}},{{sale[6][2][1]}},{{sale[6][3][1]}},{{sale[6][4][1]}},{{sale[6][5][1]}},{{sale[6][6][1]}},{{sale[6][7][1]}},{{sale[6][8][1]}},{{sale[6][9][1]}},{{sale[6][10][1]}},{{sale[6][11][1]}}]

      }]
    },
    options: {
      title: {
        display: true
      }
    }
});
</script>

</body>

</html>
