<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Species</title>
    <!-- Bootstrap Styles-->
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/static/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/static/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="wrapper">
     <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" > <strong>Fisher and Aquaculture In Australia </strong></a>
            </div>
        </nav>

        <nav class="navbar-default navbar-side" role="navigation">

            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <!--<li>-->
                        <!--<a class="active-menu" href="index.html"><i class="fa fa-dashboard"></i> Production in States</a>-->
                    <!--</li>-->
                    <p></p>
                    <li>
                        <a href="http://127.0.0.1:5000/"><i class="fa fa-sitemap"></i> Production in states</a>
                    </li>
                    <li>
                        <a ><i class="fa fa-desktop"></i> Species Sorting by States</a>
                        <form name="states" method="GET"  role="form">
                        <p style="color:white;">Species: </p><select name="species" id="species" value="species">
                                <option value="Abalone">Abalone</option>
                                <option value="Salmonids">Salmonids</option>
                                <option value="Whiting">Whiting</option>
                                <option value="Swordfish">Swordfish</option>
                                <option value="Crab">Crab</option>
                                <option value="Tuna">Tuna</option>
                                <option value="Scallop">Scallop</option>
                                <option value="Prawns">Prawns</option>
                                <option value="Rock lobster">Prck lobster</option>
                        </select>
                        <p style="color:white;">Year: </p><select name="year" id="year">
                                <option value="2005">2005</option>
                                <option value="2006">2006</option>
                                <option value="2007">2007</option>
                                <option value="2008">2008</option>
                                <option value="2009">2009</option>
                                <option value="2010">2010</option>
                                <option value="2011">2011</option>
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                        </select>
                        <input type="submit" value="submit">
                        </form>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:5000/pies"><i class="fa fa-desktop"></i> Production and saling in States</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                        </h1>
                    </div>
                </div>

				<div class="row" style="display:none">
				    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Production in this year
                            </div>
                            <div class="panel-body">
                                <div id="morris-bar-chart"></div>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="panel panel-default" style="display:block">
                            <div class="panel-heading">
                                Unit Price in this year
                            </div>
                            <div class="panel-body">
                                <div id="morris-bar-chart2"></div>
                            </div>
                        </div>
                    </div>
                </div>


            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="/static/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="/static/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/js/morris/morris.js"></script>





    <!-- Custom Js -->
    <script src="/static/js/species.js"></script>


</body>

</html>
